<header>
    <h1>{{title}}</h1>
    <nav>

        <li style="margin: 0 1em">
            <a class="nav-link" href="/">weather</a>
        </li>
        <li style="margin: 0 1em">
            <a class="nav-link" href="/about">about</a>
        </li>
        <li style="margin: 0 1em">
            <a class="nav-link" href="/help">help</a>
        </li>

    </nav>
</header>