html {
  font-family: "MuseoModerno", cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "MuseoModerno", cursive;
  font-size: 3rem;
  font-weight: 500;
}

h1 span {
  color: firebrick;
}

.nav-link {
  text-decoration: none;
  color: rgb(172, 0, 0);
}

.nav-link:visited {
  color: rgb(172, 0, 0);
}

.nav-link:hover {
  font-weight: 500;
}

img {
  max-width: 250px;
  margin-top: 0.75em;
}

header {
  font-family: "MuseoModerno", cursive;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

footer {
  background-color: firebrick;
  color: white;
  margin: 0;
  padding: 1em;
  letter-spacing: 0.1em;
}

form {
  display: flex;
}

input[type="text"] {
  padding: 0.5em;
  font-family: "MuseoModerno", cursive;
  font-size: 1.3rem;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid gray;
}

button {
  font-family: "MuseoModerno", cursive;
  background: firebrick;
  color: white;
  padding: 0.6em;
  border: 1px solid firebrick;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button:hover {
  background: rgb(218, 33, 33);
}

.temp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0.75em;
}

.weather-card {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30vw;
  border-radius: 10px;
  margin-bottom: 3em;
  padding: 1em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-container-sm {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.weather-card-small {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  border-radius: 10px;
  margin-bottom: 3em;
  padding: 1em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.weather-icon-small {
    max-width: 90px;
}

@media (max-width: 700px) {
  .weather-card {
    max-width: 90vw;
  }
}

h3 {
  margin: auto;
}
